.input-div{
    display: flex;
    justify-content: center;
    margin-top:50px;
}
.search-box{
    padding: 8px;
      width: 300px;
      margin-right: 1px;
     border: 1px solid gray;
     box-shadow: 4px 4px 8px gray;
     border-radius: 7px;
     background-color: rgb(170, 221, 221);
     margin-bottom: 50px;
}
button{
    margin-bottom: 50px !important;
    padding: 8px 15px;
    background-color: rgb(219, 154, 130);
    box-shadow: 4px 4px 8px gray;
    border-radius: 7px !important;
    color: beige;
    
    
}
button:hover{
    cursor: pointer;
    color: aqua;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    padding: 10px;
    gap:20px;
}
img{
    width: 200px;
    margin-bottom: 20px;
    border-radius: 7px 7px 0 0;

}
.cart{
    width:200px ;
    height: 300px;
    text-align: center;
    background-color: rgb(219, 211, 211);
    box-shadow: 4px 4px 8px rgb(191, 189, 189);
    border-radius: 7px ;
}
.modal-body{
    width:100%;
    height: auto;
    text-align:start;
    background-color: rgb(219, 211, 211);
    box-shadow: 4px 4px 8px rgb(191, 189, 189);
    border-radius: 7px ;
    font-size: small;
}
.dimg{
    width: 100%;
    height: 200px;
}
.modal-content{
    width: 300px !important;
    height: auto;
}